body{
    margin: 0%;
    
}
/* Header */

.container{
    width: 80%;
    margin: 0 auto;
}

.pattern {
    width: 1500px;
    height: 90px;
    background-color: rgb(75, 153, 227);
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    background-size: 50%;
    background-position: center;
    margin-left: 200px;
    margin-right: 200px;
   
}

img{
    width: 150px;
    height: 100px;
}


/* Main */

section{
    margin-left: 10%;
    margin-right: 10%;
}

h2{
    margin-bottom: 0%;
}

.write{
    color: rgb(162, 153, 153);
    font-size: 15px;
    margin: 0 auto;
}

.proprietario{
    color: lightblue;

}

.data{
    color: rgb(162, 153, 153);
    font-size: 10px;
    margin-top: 0%;

}

.tim{
    width: auto;
    height: auto;
}

.names{
    font-size: 10px;
}

.john{
    margin-top: 0%;
    margin-bottom: 0%;
}

.yellow{
    background-color: yellow;
}

ul{
   
}

table{
    width: 60%;
    border-collapse: collapse;

}

thead{
    background-color: rgb(18, 100, 208);
    color: white;
    text-align: left;
}

.light-blue{
    background-color: aqua;

}

.interest{
    color: rgb(162, 153, 153);
    font-size: 20px;
    
}

.container{
    position: relative;
    text-align: left;
    color: white;
    margin-left: 0%;
}

.top-left{
    position: absolute;
    top: 0px;
    left: 5px;
    margin-top: 1%;
}


    
