body{
    margin: 0%;
}
/* Header */
.pattern {
    width: 1000px;
    height: 150px;
    background-color: rgb(75, 153, 227);
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    background-size: 40%;
    margin-left: 10%;
    margin-right: 10%;
   
}
